<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/bootstrap.css}"  />
        <link rel="stylesheet" type="text/css" media="all"  th:href="@{/resources/css/bootstrap-formhelpers.css}" />
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script th:src="@{/resources/js/bootstrap.js}" ></script>

        <!-- include summernote css/js-->
        <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
      
        <script type="text/javascript">
  tinymce.init({
    selector: '#textt',
    theme: 'modern',
    width: 1050,
    height: 600,
    plugins: [
      'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
      'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
      'save table contextmenu directionality emoticons template paste textcolor'
    ],
    content_css: 'css/content.css',
    toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons'
  });
  </script>
        
        <title>Добавление стьтьи</title>
    </head>
    <body>
      



        <!-- Header -->
        <div th:replace="fragments/headeradmin.html :: header"></div>
        <!-- /Header -->



        <div class="container theme-showcase" role="main">
            <br>
            <br>
            <br>
            <br>
            <ol class="breadcrumb">
                <li><h4>Добавление новой статьи</h4></li>
            </ol>


            <div class="jumbotron" > 

                <div th:if="${IsAddArticle}"> <!-- if customer is anonymous-->
                    <div><label for="typetopic" >Вы успешно добавили статью</label></div>
                </div>
                <br>

                <form method='post'   th:action="@{/processAddArticle}" > 
                    <div class="form-group">

                        <div class="form-group">
                            <label for="typetopic" >Тип статьи</label>
                            <select name="type" class="form-control">
                                <th:block    th:each="topic : ${listTopics}">
                                    <option  th:value="${topic.id}" th:text="${topic.name}"></option>                          
                                </th:block>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="name">Название статьи</label>
                            <input type="text" name="name" class="form-control"  >
                        </div>

                        <label for="typetopic" >Содержание статьи</label>
                        <textarea id='textt'  name="content"></textarea>

                        <br>
                        <button type="submit" class="btn btn-primary">Сохранить статью</button>

                    </div>
                </form>
            </div>
        </div>
        <!--// footer -->
        <div class="navbar-fixed-bottom row-fluid">
            <div class="navbar-inner">
                <div class="container">
                   <p class="text-center" ><strong>Сайт разработан как дипломная работа студента гр.ДВМ6 Айтбасова Каната</strong></p>
                </div>
            </div>
        </div>

    </body>
</html>