<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/bootstrap.css}"  />
        <link rel="stylesheet" type="text/css" media="all"  th:href="@{/resources/css/bootstrap-formhelpers.css}" />
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script th:src="@{/resources/js/bootstrap.js}" ></script>

        <!-- include summernote css/js-->
        <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
        <script>tinymce.init({ selector:'textarea' });</script>
        <link th:href="@{/resources/js/summernote.css}" rel="stylesheet">
        <script th:src="@{/resources/js/summernote.js}"></script>
        <title>Добавить статью</title>
    </head>
    <body>



        <!-- Header -->



        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/myapp/admin" th:href="@{/admin}">Панель администратора</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Контент сайта<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Разделы</li>
                                <li><a href="#">Добавить раздел</a></li>
                                <li><a href="#">Редактирование раздела</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Статьи</li>
                                <li><a th:href="@{/admin/add_article}">Добавить статью</a></li>
                                <li><a href="#">Редактирование статьи</a></li>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Услуги Клиентам<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Обратный звонок</a></li>
                                <li><a href="#">Вызов замерщика</a></li>
                                <li><a href="#">Запросы по калькулятору</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Пункты по ценам</li>
                                <li><a href="#">Материалы</a></li>
                                <li><a href="#">Цены</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <!-- /Header -->
        <div class="container theme-showcase" role="main">
            <br>
            <br>
            <br>
            <br>
            
            <h3>Добавление статьи</h3>
            <form type="get"  th:action="@{/processAddArticle}" > 
                <div class="form-group">
                <p>Добавьте заметку о новости, акции или просто справочной информации</p>
                
               <div class="form-group">
                <label for="typetopic" >Тип заметки</label>
                <select name="type" class="form-control">
                    <th:block    th:each="topic : ${listTopics}">
                        <option  th:value="${topic.id}" th:text="${topic.name}"></option>                          
                    </th:block>
                </select>
                 </div>
                <div class="form-group">
                    <label for="name">Наименование заметки</label>
                    <input type="text" name="name" class="form-control"  >
                </div>

                <p>Введите текст заметки</p>
               
               
                
               <textarea name="content">Next, get a free TinyMCE Cloud API key!</textarea>
                
                
                <button type="submit" class="btn btn-primary">Сохранить статью</button>
                </div>
            </form>

       
        
        </div>
        <!--// footer -->
        <footer class="footer"> 
            <div class="container">
                <p class="text-center" ><strong>Сайт разработан как дипломная работа студента гр.ВВМ5-62 Айтбасова Каната</strong></p>
            </div>
        </footer>

    </body>
</html>