<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/bootstrap.css}"  />
        <link rel="stylesheet" type="text/css" media="all"  th:href="@{/resources/css/bootstrap-formhelpers.css}" />
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script th:src="@{/resources/js/bootstrap.js}" ></script>

        <title>Обработка обратных звонков</title>
    </head>
    <body>



        <!-- /Header -->
        <div th:replace="fragments/headeradmin.html :: header"></div>
        <!-- /Header -->
        <div class="container theme-showcase" role="main">
            <br>
            <br>
            <br>
            <br>
            <ol class="breadcrumb">
                <li><a href="#">Работа с обратными звонками</a></li>
            </ol>
            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">

                <form>
                    <div class="radio">
                        <label><input type="radio" name="optradio">Все</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="optradio">Только неотработанные</label>
                    </div>

                </form>
                <th:block th:each="callback : ${listCallback}">
                    <form  method="post" th:action="@{/admin/updatecallback}"   >
                        <div class="panel panel-default" >
                            <div class="panel-heading">
                                <h4><span class="label label-primary">Дата заказа звонка</span></h4>
                                <p th:text="${callback.dateadd}"   ></p>
                            </div>
                            <div class="panel-body"  >
                                <input type="hidden" name="id" th:value="${callback.id}" >
                                <h4><span class="label label-primary">Контактные данные</span></h4> 
                                <p  th:text="${callback.fio}"></p>
                                <h4><span class="label label-primary">Телефон</span></h4> 
                                <p th:text="${callback.phone}"></p>
                                <div class="checkbox">
                                    <label><input name="open" type="checkbox" th:checked="${callback.open}">Отработано</label>
                                </div>
                                <div class="form-group">
                                    <label for="comment">Дополнительная информация</label>
                                    <textarea name="desc" th:utext="${callback.description}" class="form-control" rows="5" id="comment"></textarea>
                                </div>
                                 <h4><span class="label label-primary">Дата отработки</span></h4> 
                                 <p th:text="${callback.dateclose}"   ></p>
                                <button type="submit" class="btn btn-info">Отработано</button>
                                
                            </div>
                        </div>
                    </form>
                    <br>
                </th:block>

            </div>

        </div>
        <!--// footer -->
        <footer class="footer"> 
            <div class="container">
                <p class="text-center" ><strong>Сайт разработан как дипломная работа студента гр.ВВМ5-62 Айтбасова Каната</strong></p>
            </div>
        </footer>

    </body>
</html>