<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/bootstrap.css}"  />
        <link rel="stylesheet" type="text/css" media="all"  th:href="@{/resources/css/bootstrap-formhelpers.css}" />
        <link rel="stylesheet" type="text/css" media="all"  th:href="@{/resources/css/mystyle.css}" />
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script th:src="@{/resources/js/bootstrap.js}" ></script>
        <script th:src="@{/resources/js/bootstrap-formhelpers.js}" ></script> 
        <title>Вызвать замерщика</title>
    </head>
    <body>
        <div class="container">

            <!-- Header -->
            <div th:replace="fragments/header.html :: header"></div>
            <!-- /Header -->

            <!-- Main component for a primary marketing message or call to action -->
            <div class="jumbotron"  style="background:url(/myapp/resources/img/form-bg-main.jpg) center no-repeat; background-size:cover;">
                <div class="row"> 
                    <div class="col-md-6"> 

                        <div th:if="${isSuccess}"> <!-- if customer is anonymous-->
                            <div><label for="typetopic" >Ваша заявка успешно добавлена</label></div>
                        </div>

                        <form action="#" th:action="@{/processCallGauger}" th:object="${gauger}" method="post">
                            <div class="form-group">
                                <label for="email">Контактные данные</label>
                                <input th:field="*{fio}" type="text" class="form-control" >
                            </div>
                            <div class="form-group">
                                <label th:field="*{phone}" for="phone">Телефон</label>
                                <br>
                                <input id="phone" type="text" class="input-medium bfh-phone" data-format="+7 (ddd) ddd-dddd">
                            </div>
                            <div class="form-group">
                                <label for="adress">Кого вы хотите вызвать?</label>
                                <select th:field="*{type}" class="form-control">
                                    <option th:value="Установщик" >Установщик</option>
                                    <option th:value="Замерщик">Замерщик</option>

                                </select>


                                <div class="form-group">
                                    <label for="adress">Адрес</label>
                                    <input th:field="*{adres}" type="text" class="form-control" id="adress" >
                                </div>
                                <div class="form-group">
                                    <label  for="desc">Дополнительная информация (если необходима)</label>
                                    <input th:field="*{description}" type="text" class="form-control" id="desc" >
                                </div>

                                <button type="submit" class="btn btn-primary">Подать заявку</button>
                        </form>
                    </div>

                </div>


            </div>




        </div>


        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Закажите обратный звонок для консультации</h4>
                    </div>
                    <div class="modal-body">
                        <form action="#" th:action="@{/processCallBack}" th:object="${callback}" method="post" >
                            <div class="form-group">
                                <label for="email">Контактные данные</label>
                                <input type="text" th:field="*{fio}"  class="form-control" >
                            </div>
                            <div class="form-group">
                                <label for="phone">Ваш телефон</label>
                                <br>
                                <input id="phone" th:field="*{phone}" type="text" class="input-medium bfh-phone" data-format="+7 (ddd) ddd-dddd">
                            </div>
                            <button type="submit" class="btn btn-primary">Подать заявку</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>

            </div>
        </div>
        <!--// Modal -->

        <!--// footer -->
        <div class="navbar-fixed-bottom row-fluid">
            <div class="navbar-inner">
                <div class="container">
                    <p class="text-center" ><strong>Сайт разработан как дипломная работа студента гр.ДВМ6 Айтбасова Каната</strong></p>
                </div>
            </div>
        </div>

    </body>
</html>