<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/bootstrap.css}"  />
        <link rel="stylesheet" type="text/css" media="all"  th:href="@{/resources/css/bootstrap-formhelpers.css}" />
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script th:src="@{/resources/js/bootstrap.js}" ></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script   src="https://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.js"   integrity="sha256-6HSLgn6Ao3PKc5ci8rwZfb//5QUu3ge2/Sw9KfLuvr8="   crossorigin="anonymous"></script>


        <title>Обработка обратных звонков</title>
    </head>
    <body>



        <!-- /Header -->
        <div th:replace="fragments/headeradmin.html :: header"></div>
        <!-- /Header -->
        <div class="container theme-showcase" role="main">
            <br>
            <br>
            <br>
            <br>
            <ol class="breadcrumb">
                <li><h4>Работа с обратными звонками</h4></li>
            </ol>
            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
                <p>Полный список заявок на обратный звонок</p>   
                <div ng-app="myApp" >
                    <div ng-controller="ControllerCallBack as ctrl" >

                        <!-- Default panel contents -->
                        <form >
                            <label class="radio-inline">
                                <input type="radio"  ng-model="ctrl.checkboxModel.value1" ng-value="true" name="optradio">Отработанные
                            </label>
                            <label class="radio-inline">
                                <input type="radio" ng-model="ctrl.checkboxModel.value1" ng-value="false" name="optradio">Открытые заявки
                            </label>
                            <label class="radio-inline">
                                <input type="radio" ng-model="ctrl.checkboxModel.value1" ng-value="null" name="optradio">Все заявки
                            </label>
                        </form>
                        <br>
                        <div ng-repeat="e in ctrl.units| filter: filterA">
                           
                                <div class="panel panel-default" >
                                    <div class="panel-body" >
                                    <h4><span class="label label-primary">Контактные данные</span></h4>     
                                    <span ng-bind="e.fio"></span>
                                    <h4><span class="label label-primary">Телефон</span></h4>   
                                    <span ng-bind="e.phone"></span>
                                    <h4><span class="label label-primary">Дата звонка</span></h4>   
                                    <span ng-bind="e.dateadd"></span>
                                    <h4><span class="label label-primary">Дата закрытия</span></h4>   
                                    <span ng-bind="e.dateclose"></span>
                                    <div class="form-group">
                                        <label for="comment">Дополнительная информация</label>
                                        <textarea name="desc" ng-bind="e.description" class="form-control" rows="5" id="comment"></textarea>
                                    </div>
                                    <h4><span class="label label-primary">Заявка отработана</span>
                                     <input name="open" disabled="disabled" type="checkbox"  ng-model="e.open" >
                                     
                                    </h4> 
                                   <input type="hidden" name="id" ng-bind="e.id" >
                                    <br>
                                    <button ng-click='ctrl.submit(e)' 
                                            class="btn btn-info"
                                            >Отработать</button>  
                                </div>
                                </div>
                           
                        </div>





                    </div>

                </div>
                <!--// footer -->
                <footer class="footer"> 
                    <div class="container">
                        <p class="text-center" ><strong>Сайт разработан как дипломная работа студента гр.ВВМ5-62 Айтбасова Каната</strong></p>
                    </div>
                </footer>
                <script th:src="@{/resources/js/angular/app.js}" ></script>
                <script th:src="@{/resources/js/angular/services/callback-service.js}" ></script>
                <script th:src="@{/resources/js/angular/controllers/callback-controller.js}" ></script>

                </body>
                </html>