<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/bootstrap.css}"  />
        <link rel="stylesheet" type="text/css" media="all"  th:href="@{/resources/css/bootstrap-formhelpers.css}" />
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script th:src="@{/resources/js/bootstrap.js}" ></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script   src="https://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.js"   integrity="sha256-6HSLgn6Ao3PKc5ci8rwZfb//5QUu3ge2/Sw9KfLuvr8="   crossorigin="anonymous"></script>
        <title>Создание списка рассылки</title>
    </head>
    <body>



        <!-- Header -->
        <div th:replace="fragments/headeradmin.html :: header">

        </div>
        <!-- /Header -->

        <br><br>
        <br><br>
        <div  ng-app="myApp" ng-controller="CreatelistController as ctrl" class="container theme-showcase" role="main">

            <!-- Main jumbotron for a primary marketing message or call to action -->
            <ol class="breadcrumb">
                <li><h4>Создание списка рассылки</h4></li>
            </ol>

            <div class="jumbotron" ng-app="myApp" ng-controller="CreatelistController as ctrl" >                
                <div class="generic-container">
                    <div class="panel panel-default">

                        <div class="formcontainer">
                            <div class="panel-heading">Создать  список рассылки</div>
                            <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
                                <input type="hidden"  ng-model="ctrl.unit.id" />
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="col-md-2 control-lable" for="lastname">Название списка рассылки</label>
                                        <div class="col-md-7">
                                            <input type="text" ng-model="ctrl.unit.name" 
                                                   id="lastname" 
                                                   class="username form-control input-sm" 
                                                   placeholder="Название " 
                                                   required ng-minlength="1"/>
                                            <div class="has-error" ng-show="myForm.$dirty">
                                                <span ng-show="myForm.name.$error.required">Это обязательное поле</span>
                                                <span ng-show="myForm.name.$error.minlength">Минимальная длина - 1</span>
                                                <span ng-show="myForm.name.$invalid">Неверное значение в поле</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-actions floatRight">
                                    <span class="lead">
                                        <input type="submit"  
                                               value="Добавить" 
                                               class="btn btn-primary btn-sm" 
                                               ng-click="ctrl.submit()"
                                               >
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>








                <div class="tablecontainer">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Название списка
                                </th>


                                <th width="10%">Действие</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="e in ctrl.units">
                                <td><a  ng-click="ctrl.choseList(e)"  ng-bind="e.name"></a></td>


                                <td>

                                    <button type="button" 
                                            ng-click="ctrl.deleteU(e)" 
                                            class="btn btn-danger custom-width"
                                            style=" width: 90px !important;">Удалить</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>   
                </div>

                <ol class="breadcrumb">
                    <li><h4>Наполнение списка рассылки</h4></li>
                </ol>

                <div class="tablecontainer">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Элемент рассылки
                                </th>
                                <th>
                                    Название списка
                                </th>
                                <th>
                                    e-mail адрес
                                </th>


                                <th width="10%">Действие</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="e in ctrl.listUnits| filter : ctrl.search">
                                <td><span ng-bind="e.idItemDelivery.fio"></span></td>
                                <td><span ng-bind="e.idDeliveryList.name"></span></td>
                                <td><span ng-bind="e.idItemDelivery.email"></span></td>

                                <td>

                                    <button type="button" 
                                            ng-click="ctrl.deleteUListItems(e)" 
                                            class="btn btn-danger custom-width"
                                            style=" width: 90px !important;">Удалить</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>   
                </div>   

                <ol class="breadcrumb">
                    <li><h5>Список email-адресов</h5></li>
                </ol>



                <div class="tablecontainer">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                <input type="text" class="form-control" placeholder="Поиск по таблице" ng-model="ctrl.searchEmail">
                            </div>      
                        </div>
                    </form>


                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    ФИО
                                </th>
                                <th>
                                    Email
                                </th>



                                <th width="20%">Действие</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="e in ctrl.emails| filter : ctrl.searchEmail">
                                <td><span ng-bind="e.fio"></span></td>
                                <td><span ng-bind="e.email"></span></td>


                                <td>

                                    <button type="button" 
                                            ng-click="ctrl.addItemToListDelivery(e)" 
                                            class="btn btn-danger custom-width"
                                            >Добавить в список рассылки</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>   
                </div>    
            </div>

        </div>
        <!--// footer -->
        <div th:replace="fragments/footer.html :: footer"></div>
        <script th:src="@{/resources/js/angular/app.js}" ></script>
        <script th:src="@{/resources/js/angular/services/createlist-service.js}" ></script>
        <script th:src="@{/resources/js/angular/controllers/createlist-controller.js}" ></script>

    </body>
</html>