<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/bootstrap.css}"  />
        <link rel="stylesheet" type="text/css" media="all"  th:href="@{/resources/css/bootstrap-formhelpers.css}" />
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script th:src="@{/resources/js/bootstrap.js}" ></script>

        <!-- include summernote css/js-->
           <script th:src="@{/resources/js/tinymce.min.js}"></script>
        <script type="text/javascript">
            tinymce.init({
                selector: '#text',
                theme: 'modern',
                width: 1050,
                height: 600,
                plugins: [
                    'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                    'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                    'save table contextmenu directionality emoticons template paste textcolor'
                ],
               
                toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons'
            });
        </script>

        <title>Редактирование статьи</title>
    </head>
    <body>
        <!-- Header -->
        <div th:replace="fragments/headeradmin.html :: header"></div>
        <!-- /Header -->
        <div class="container theme-showcase" role="main">
            <br>
            <br>
            <br>
            <br>
             <ol class="breadcrumb">
                <li><h4>Добавление новой статьи</h4></li>
            </ol>
            
            <div class="jumbotron" > 
            <form method='post'  th:action="@{/processUpdateArticle}" > 
                <div class="form-group">

                    <input type="hidden"  name="id" th:value="${article.id}" >     
                    <div class="form-group">
                        <label for="typetopic" >Тип статьи</label>
                        <select name="type" th:field="${article.type.id}"  class="form-control">
                            <th:block    th:each="topic : ${listTopics}">
                                <option  th:value="${topic.id}" th:text="${topic.name}"></option>                          
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name">Наименование статьи</label>
                        <input type="text" name="name"  th:value="${article.name}"  class="form-control"  >
                    </div>
                    <br>
                    <label for="typetopic" >Содержание статьи</label>



                    <textarea id='text' name="content"  th:text="${article.content}"  ></textarea>


                    <button type="submit" class="btn btn-primary">Обновить</button>
                </div>
            </form>
            </div>



        </div>
        <!--// footer -->
         <!--// footer -->
        <div th:replace="fragments/footer.html :: footer"></div>

    </body>
</html>