<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/bootstrap.css}"  />
        <link rel="stylesheet" type="text/css" media="all"  th:href="@{/resources/css/bootstrap-formhelpers.css}" />
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script th:src="@{/resources/js/bootstrap.js}" ></script>

        <title>Главная</title>
    </head>
    <body>
        <div class="container">


            <!-- Header -->
            <div class="row" >
                <div class="col-md-4">
                   <a th:href="@{/}"> <img src="/myapp/resources/img/logotip.jpg" /> </a>
                </div>   
                <div class="col-md-3">
                    <h5>Продажа и установка пластиковых окон   ООО «Окна Байконура»</h5>
                </div> 
                <div class="col-md-3">
                    <div>
                        <p>+7 (495) 788-68-24</p>
                        <p ><a href="#" data-toggle="modal" data-target="#myModal">Заказать обратный звонок</a></p>
                        <p> Время работы: с 10.00 до 19.00</p>
                    </div>
                </div>
                <div class="col-md-2">

                    <a type="button" th:href="@{/callgauger}" class="btn btn-primary btn-sm btn-block">Вызвать замерщика</a>
                    <br>
                    <button type="button" class="btn btn-primary btn-sm btn-block">Калькулятор</button>

                </div>


            </div>

            <!-- Static navbar -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Главная</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav" >

                            <th:block th:each="topic : ${mainMenuList}">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#" th:text="${topic.name}">Заголовки</a>
                                    <ul class="dropdown-menu">
                                        <th:block th:each="art:${topic.getSubmenus()}">
                                            <li>
                                                <a th:text="${art.name}"></a>
                                            </li>
                                        </th:block>



                                    </ul>

                                </li>   
                            </th:block>



                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>

                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </nav> 
            <!-- /Header -->

            <!-- Main component for a primary marketing message or call to action -->
            <div class="jumbotron">


                <p>
                    Компания &laquo;Окна Байконур&raquo; существует с 2006 года. В качестве основы для своих изделий мы выбрали немецкие профили REHAU, широко известные по всему миру как одно из лучших решений в сфере пластиковых окон. Непревзойденное качество материалов на нашем производстве подкреплено командой мастеров с высокой квалификацией, опытных менеджеров по замеру и специалистов монтажной бригады, имеющих сертификаты REHAU.</p>
                <p>
                    На данный момент наша компания представляет собой единственное производство в Москве и Московской области, оснащенное шестиголовочным сварным станком, который обеспечивает идеальную геометрию окон. Производство полного цикла включает этапы гибки, ламинации, покраски и изготовления всех профильных систем REHAU, в том числе новейших разработок &mdash; Intelio и Geneo</p>
                <p>
                    Помимо коммерческих задач компания &laquo;Окна Р&raquo; ставит перед собой и социальные, активно принимая участие в благотворительных мероприятиях. Так, зимой 2017 года наш коллектив совместно с REHAU провел акцию &laquo;Подари тепло детскому дому&raquo;.</p>
                <p>
                    Потенциальным клиентам наш отдел продаж всегда готов предложить грамотную консультацию, а бесплатная сервисная служба проверки качества установленных окон поможет разобраться, действительно ли необходима замена окон или можно обойтись ремонтом и регулировкой.</p>
            </div>



            <img src="/myapp/resources/img/logo.png" />
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Закажите обратный звонок для консультации</h4>
                    </div>
                    <div class="modal-body">
                        <form action="#" th:action="@{/processCallBack}" th:object="${callback}" method="post" >
                            <div class="form-group">
                                <label for="email">Контактные данные</label>
                                <input type="text" th:field="*{fio}"  class="form-control" >
                            </div>
                            <div class="form-group">
                                <label for="phone">Ваш телефон</label>
                                <br>
                                <input id="phone" th:field="*{phone}" type="text" class="input-medium bfh-phone" data-format="+7 (ddd) ddd-dddd">
                            </div>
                            <button type="submit" class="btn btn-primary">Подать заявку</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>

            </div>
        </div>
        <!--// Modal -->

        <!--// footer -->
        <footer class="footer"> 
            <div class="container">
                <p class="text-center" ><strong>Сайт разработан как дипломная работа студента гр.ДВМ6 Айтбасова Каната</strong></p>
            </div>
        </footer>

    </body>
</html>