<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/bootstrap.css}"  />
        <link rel="stylesheet" type="text/css" media="all"  th:href="@{/resources/css/bootstrap-formhelpers.css}" />
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script th:src="@{/resources/js/bootstrap.js}" ></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script th:src="@{/resources/js/angular.min.js}" ></script>
        <script th:src="@{/resources/js/angular-sanitize.js}" ></script>


        angular-sanitize
        <title>Панель Администратора</title>
    </head>
    <body>



        <!-- Header -->
        <div th:replace="fragments/headeradmin.html :: header">

        </div>
        <!-- /Header -->

        <br><br>
        <br><br>
        <div class="container theme-showcase" role="main" ng-app="myApp" ng-controller="SendController as ctrl" >

            <!-- Main jumbotron for a primary marketing message or call to action -->
            <ol class="breadcrumb">
                <li><h4>Список всех рассылок</h4></li>

            </ol>

            <div th:if="${OK}"> <!-- if customer is anonymous-->
                <div><label for="typetopic" >Вы успешно добавили статью</label></div>
            </div>


            <div ng-repeat="e in ctrl.units">
                <div class="panel panel-default" >
                    <div class="panel-heading">

                        <p>
                            <span  ng-bind="e.name"></span>

                            <a ng-click="deleteU(e)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                            <a data-toggle="modal" ng-click="ctrl.weirdFunction($event)"  data-target="#myModal"><span class="glyphicon glyphicon-send" aria-hidden="true"></span></a>
                        </p>
                    </div>

                    <div class="panel-body"  ng-bind-html="e.content" ></div>
                </div>
            </div>    






            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Отправка рассылки</h4>
                        </div>
                        <div class="modal-body">

                            <p>Данная рассылка будет отправленна по email адресам</p>
                            <form   method="post" >
                                <div class="form-group">
                                    <input type="hidden" ng-model="{{ctrl.idshare}}" name="idshare" >
                                    <label for="typetopic" >Выберите список рассылки</label>

                                    <select name="repeatSelect" id="repeatSelect" >
                                        <option ng-repeat="s in ctrl.listDelivery" value="{{s.id}}">{{s.name}}</option>
                                    </select>

                                    
                                </div>
                                <button type="submit" class="btn btn-primary">Отправить</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>

                </div>
            </div>    


        </div>
        <!--// footer -->
        <footer class="footer"> 
            <div class="container">
                <p class="text-center" ><strong>Сайт разработан как дипломная работа студента гр.ВВМ5-62 Айтбасова Каната</strong></p>
            </div>
        </footer>

        <script th:src="@{/resources/js/angular/app.js}" ></script>
        <script th:src="@{/resources/js/angular/services/send-service.js}" ></script>
        <script th:src="@{/resources/js/angular/controllers/send-controller.js}" ></script>

    </body>
</html>