
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Title</title>

      
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/bootstrap.css}"  />
        <link rel="stylesheet" type="text/css" media="all"  th:href="@{/resources/css/bootstrap-formhelpers.css}" />
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script th:src="@{/resources/js/bootstrap.js}" ></script>


    </head>

    <body>



        <br>
        <br>
        <br>

        <div class="col-md-6 col-md-offset-2">
            <p th:if="${loginError}" class="error">Wrong user or password</p>

        </div>  


        <div class="container" style="background-color:#ADD8E6; border-radius: 15px;"  >
            <br>
            <div class="row" >
                <div  class="col-md-6">
                    <h4 class="text-center">Log In</h4>
                    <form method="post" th:action="@{/login}"  class="form-horizontal" >
                        <label>Username</label>
                        <input class="form-control" type="text"  name="username" />
                        <label>Password</label>
                        <input class="form-control" type="password"  name="password" />
                        <input class="btn btn-default" type="submit" value="Log In"  />
                    </form>
                </div>

                

                <p><a href="/myapp" th:href="@{/}">Back to home page</a></p>

            </div>
        </div>


    </body>
</html>