
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Новый пользователь</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/bootstrap.css}"  />
        <link rel="stylesheet" type="text/css" media="all"  th:href="@{/resources/css/bootstrap-formhelpers.css}" />
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script th:src="@{/resources/js/bootstrap.js}" ></script>


    </head>

    <body>



        <br>
        <br>
        <br>

        <div class="col-md-6 col-md-offset-2">
            <p th:if="${loginError}" class="error">Wrong user or password</p>

        </div>  


        <div class="container" style="background-color:#ADD8E6; border-radius: 15px;"  >
            <br>
            <div class="row" >
              
                
                <div class="col-md-6">
                    <form action="#" th:action="@{/processNewUser}" th:object="${user}" method="post" >
                        <div class="form-group">
                            <label for="email">Пользаватель</label>
                            <input type="text" th:field="*{username}"  class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <br>
                            <input id="email" th:field="*{email}" type="email" >
                       
                      
                            <label >Пароль</label>
                            <br>
                            <input  type="password" th:field="*{password}"  >
                        </div>
                        <button type="submit" class="btn btn-primary">Подать заявку</button>
                    </form>

                </div>

                <p><a href="/myapp" th:href="@{/}">Back to home page</a></p>

            </div>
        </div>


    </body>
</html>