<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/bootstrap.css}"  />
        <link rel="stylesheet" type="text/css" media="all"  th:href="@{/resources/css/bootstrap-formhelpers.css}" />
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script th:src="@{/resources/js/bootstrap.js}" ></script>
        <script th:src="@{/resources/js/angular.min.js}" ></script>
        <script th:src="@{/resources/js/pdfmake.min.js}" ></script>
        <script th:src="@{/resources/js/vfs_fonts.js}" ></script>
        <title>Список заказов</title>
    </head>
    <body ng-app="myApp" ng-controller="ControllerOrder as ctrl">



        <!-- Header -->
        <div th:replace="fragments/headeradmin.html :: header"></div>
        <!-- /Header -->

        <br>
        <br>
        <br>
        <br>
        <div class="container theme-showcase">

            <ol class="breadcrumb">
                <li><h4>Список заказов</h4></li>
            </ol>



            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="tablecontainer">




                <div class="jumbotron">


                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                <input type="text" class="form-control" placeholder="Поиск по таблице" ng-model="ctrl.search">
                            </div>      
                        </div>
                    </form>
                    
                    
                    
                    <div ng-repeat="e in ctrl.units| filter:ctrl.search" >
                         <h4>Заказ № {{e.id}}</h4>
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="25%">
                                   Название 
                                </th>
                                <th>
                                   Описание
                                </th>
                            </tr>
                            </thead>
                              <tbody>
                                   <tr>
                                      <td>Заказчик</td>
                                      <td><span ng-bind="e.idclient.fio"></span></td>
                                  </tr>
                                  <tr>
                                      <td>Тип заказа</td>
                                      <td><span ng-bind="e.idtypeorder.name"></span></td>
                                  </tr>
                                   <tr>
                                      <td>Тип профиля</td>
                                      <td><span ng-bind="e.idtypeprofil.name"></span></td>
                                  </tr>
                                  <tr>
                                      <td>Тип стеклопакета</td>
                                      <td><span ng-bind="e.idglasspacket.name"></span></td>
                                  </tr>
                                   <tr>
                                      <td>Ширина подоконника</td>
                                      <td><span ng-bind="e.idsill.name"></span></td>
                                  </tr>
                                   <tr>
                                      <td>Длина отлива</td>
                                      <td><span ng-bind="e.idreflux.name"></span></td>
                                  </tr>
                                    <tr>
                                      <td>Условия установки</td>
                                      <td><span ng-bind="e.idinstall.name"></span></td>
                                  </tr>
                                   <tr>
                                      <td>Геометрические параметры</td>
                                      <td><span ng-bind="ctrl.ShowParametres(e.param)"></span></td>
                                  </tr>
                                  <tr>
                                      <td>Фурнитура</td>
                                      <td><span ng-bind="ctrl.ShowFurnitura(e.furnitura)"></span></td>
                                  </tr>
                                   <tr>
                                      <td>Цена</td>
                                      <td><span ng-bind="e.price"></span></td>
                                  </tr>
                              </tbody>
                        </table>
                         <button type="button" 
                                            ng-click="ctrl.akt(e)" 
                                            class="btn btn-danger btn-sm"
                                            >Сформировать акт выполненых  работ</button>
                    </div>

                  
                </div>
            </div>

        </div>
        <!--// footer -->
        <!--// footer -->
        <div th:replace="fragments/footer.html :: footer"></div>

        <script th:src="@{/resources/js/angular/app.js}" ></script>
        <script th:src="@{/resources/js/angular/services/order-service.js}" ></script>
        <script th:src="@{/resources/js/angular/controllers/order-controller.js}" ></script>

    </body>
</html>