<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/bootstrap.css}"  />
        <link rel="stylesheet" type="text/css" media="all"  th:href="@{/resources/css/bootstrap-formhelpers.css}" />
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script th:src="@{/resources/js/bootstrap.js}" ></script>
         <script th:src="@{/resources/js/bootstrap-formhelpers.js}" ></script> 
        <title>Главная</title>
    </head>
    <body>
        <div class="container">


            <!-- Header -->
            <div th:replace="fragments/header.html :: header"></div>
            <!-- /Header -->

            <!-- Main component for a primary marketing message or call to action -->
            
             <ol class="breadcrumb">
                <li><h4 th:text="${article.name}">Добавление новой статьи</h4></li>
            </ol>
            
            <div class="panel panel-default">
            <div  class="panel-body"> 
                <div th:remove="tag"  th:utext="${article.content}"></div>
            </div> 
            </div>    
        </div>

     

       <!--// Modal -->
         <div th:replace="fragments/modal.html :: modals"></div>
        
         <!--// footer -->
        <div th:replace="fragments/footer.html :: footer"></div>

    </body>
</html>